*.pyc
*.npy
*.png
*.gif
*.mp4
*.out
!media/*.mp4

zzz*
data/coinrun_episodes/
data/calvin*/
.venv/
data/mc*/
data/mine*/
data/open_ai*/
wandb_key
ckpts/
logs/
wandb/
__pycache__/
robomimic_repo/
keyframe_selector/
